<div class="form-group list-group list-group-item content">
  <h2>Edit Your Account</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <div class='row'>
      <fieldset class='form-group col-md-6'>
        <%= f.label 'First Name' %><br />
        <%= f.text_field :first_name, autofocus: true, class: 'form-control ' %>
      </fieldset>

      <fieldset class='form-group col-md-6'>
        <%= f.label 'Last Name' %><br />
        <%= f.text_field :last_name, autofocus: true, class: 'form-control' %>
      </fieldset>
    </div>

    <div class='row'>
      <fieldset class='form-group col-md-8'>
        <%= f.label :address %><br />
        <%= f.text_field :address, autofocus: true, class: 'form-control' %>
      </fieldset>
    </div>

    <div class='row'>
      <fieldset class='form-group col-md-6'>
        <%= f.label :city %><br />
        <%= f.text_field :city, autofocus: true, class: 'form-control' %>
      </fieldset>

      <fieldset class='form-group col-md-3'>
        <%= f.label :state %><br />
        <%= f.text_field :state, autofocus: true, class: 'form-control' %>
      </fieldset>

      <fieldset class='form-group col-md-3'>
        <%= f.label 'ZIP Code' %><br />
        <%= f.text_field :zip_code, autofocus: true, class: 'form-control' %>
      </fieldset>
    </div>

    <div class='row'>
      <fieldset class='form-group col-md-6'>
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </fieldset>
    </div>

    <div class='row'>
      <fieldset class='form-group col-md-4'>
        <%= f.label :home_phone %><br />
        <%= f.text_field :home_phone, autofocus: true, class: 'form-control', id: 'HomePhoneTextBox', onchange: 'fSetBestContact()' %>
      </fieldset>

      <fieldset class='form-group col-md-4'>
        <%= f.label :work_phone %><br />
        <%= f.text_field :work_phone, autofocus: true, class: 'form-control', id: 'WorkPhoneTextBox', onchange: 'fSetBestContact()' %>
      </fieldset>

      <fieldset class='form-group col-md-4'>
        <%= f.label :cell_phone %><br />
        <%= f.text_field :cell_phone, autofocus: true, class: 'form-control', id: 'CellPhoneTextBox', onchange: 'fSetBestContact()' %>
      </fieldset>
    </div>

    <div class='row'>
      <fieldset class='form-group col-md-4'>
        <%= f.label :best_contact %><br />
        <%= f.select :cell_phone, ['Home', 'Work', 'Cell'], {}, onchange: 'fCheckBestContact()' %>
      </fieldset>
    </div>

    <div class='row'>
      <fieldset class='form-group col-md-4'>
        <%= f.label :ability_id_usta,'USTA Rating' %><br />
        <%= f.collection_select :ability_id_usta, Ability.where(is_adult: :true), :id, :description, include_blank: true, autofocus: true, class: 'form-control' %>
      </fieldset>

      <fieldset class='form-group col-md-4'>
        <%= f.label :ability_id_self,'Self-Assessed Rating' %><br />
        <%= f.collection_select :ability_id_self, Ability.all, :id, :description, include_blank: true, autofocus: true, class: 'form-control' %>
      </fieldset>
    </div>

    <div class='row'>
      <fieldset class='form-group col-md-6'>
        <%= f.label 'Birthdate' %><br />
        <%= f.text_field :birthdate, autofocus: true, class: 'form-control' %>
      </fieldset>

      <fieldset class='form-group col-md-6'>
        <%= f.label :gender %><br />
        <%= f.radio_button :gender, 'M' %> Male
        <%= f.radio_button :gender, 'F' %> Female
      </fieldset>
    </div>

    <fieldset class='form-group'>
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    </fieldset>

    <fieldset class='form-group'>
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
    </fieldset>

      <div class="actions">
        <%= f.submit "Update" %>
      </div>
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to "Back", :back %>
</div>