<div class="form-group list-group list-group-item content">
  <h2>Edit Your Account</h2>
  <%= devise_error_messages! %>
  <div class='row'>
    <fieldset class='form-group col-md-6'>
      <label>Family Members:</label><br>
      <%= select :person, :PersonID, @family_members.collect { |p| [p.person.FullName, p.person.PersonID] }, {}, onchange: 'setFamilyMember()' %>
    </fieldset>
  </div>
  <% if @relationship.IsPrimary = true %>
  <h3>Edit a family member</h3>
    <% @family_members.each do |member| %>
    <%= link_to member.person.FullName, edit_person_registration_path(member.person) unless member.person.id == @current_person.id %><br>
    <% end %>
    <%= link_to "Add a family member" %>
  <% end %>
  
  <%= form_for(@person, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    
    <div class='row'>
      <fieldset class='form-group col-md-6'>
        <%= f.label 'First Name' %><br />
        <%= f.text_field :first_name, autofocus: true, class: 'form-control ' %>
      </fieldset>

      <fieldset class='form-group col-md-6'>
        <%= f.label 'Last Name' %><br />
        <%= f.text_field :last_name, autofocus: true, class: 'form-control' %>
      </fieldset>
    </div>

    <div class='row'>
      <fieldset class='form-group col-md-8'>
        <%= f.label :address %><br />
        <%= f.text_field :address, autofocus: true, class: 'form-control' %>
      </fieldset>
    </div>

    <div class='row'>
      <fieldset class='form-group col-md-6'>
        <%= f.label :city %><br />
        <%= f.text_field :city, autofocus: true, class: 'form-control' %>
      </fieldset>

      <fieldset class='form-group col-md-3'>
        <%= f.label :state %><br />
        <%= f.text_field :state, autofocus: true, class: 'form-control' %>
      </fieldset>

      <fieldset class='form-group col-md-3'>
        <%= f.label 'ZIP Code' %><br />
        <%= f.text_field :zip_code, autofocus: true, class: 'form-control' %>
      </fieldset>
    </div>

    <div class='row'>
      <fieldset class='form-group col-md-6'>
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </fieldset>
    </div>

    <div class='row'>
      <fieldset class='form-group col-md-4'>
        <%= f.label :home_phone %><br />
        <%= f.text_field :home_phone, autofocus: true, class: 'form-control', id: 'HomePhoneTextBox', onchange: 'fSetBestContact()' %>
      </fieldset>

      <fieldset class='form-group col-md-4'>
        <%= f.label :work_phone %><br />
        <%= f.text_field :work_phone, autofocus: true, class: 'form-control', id: 'WorkPhoneTextBox', onchange: 'fSetBestContact()' %>
      </fieldset>

      <fieldset class='form-group col-md-4'>
        <%= f.label :cell_phone %><br />
        <%= f.text_field :cell_phone, autofocus: true, class: 'form-control', id: 'CellPhoneTextBox', onchange: 'fSetBestContact()' %>
      </fieldset>
    </div>

    <div class='row'>
      <fieldset class='form-group col-md-4'>
        <%= f.label :best_contact %><br />
        <%= f.select :best_contact, ['Home', 'Work', 'Cell'], {}, onchange: 'fCheckBestContact()' %>
      </fieldset>
    </div>

    <div class='row'>
      <fieldset class='form-group col-md-4'>
        <%= f.label :ability_id_usta,'USTA Rating' %><br />
        <%= f.collection_select :ability_id_usta, Ability.where(is_adult: :true), :id, :description, include_blank: true, autofocus: true, class: 'form-control' %>
      </fieldset>

      <fieldset class='form-group col-md-4'>
        <%= f.label :ability_id_self,'Self-Assessed Rating' %><br />
        <%= f.collection_select :ability_id_self, Ability.all, :id, :description, include_blank: true, autofocus: true, class: 'form-control' %>
      </fieldset>
    </div>

    <div class='row'>
      <fieldset class='form-group col-md-6'>
        <%= f.label 'Birthdate' %> <i>MM/DD/YYYY</i> <br />
        <%= f.date_field :birthdate, autofocus: true, class: 'form-control' %>
      </fieldset>

      <fieldset class='form-group col-md-6'>
        <%= f.label :gender %><br />
        <%= f.radio_button :gender, 'M' %> Male
        <%= f.radio_button :gender, 'F' %> Female
      </fieldset>
    </div>

    <fieldset class='form-group'>
      <%= f.label 'New Password' %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    </fieldset>

    <fieldset class='form-group'>
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
    </fieldset>

      <div class="actions">
        <%= f.submit "Save" %>
      </div>
  <% end %>

  <br><%= link_to "Back", :back %>
</div>